* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #f3f3f3;
    cursor: default;
    font-size: 20px;
}

h1 {
    font-size: 37px;
    font-weight: 700;
    color: #fff;
}

header {
    height: 80px;
    width: 100%;
    background-color: #0080CD;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px #00000040;
    position: sticky;
    left: 0;
    top: 0;
}

main {
    width: 300px;
    background-color: #fff;
    margin: 40px auto 0 auto;
    border-radius: 6px;
    padding: 20px 12px 20px 12px;
}

h2 {
    font-weight: 700;
    color: #000;
    text-align: center;
    margin: 0 auto;
}

p {
    padding-bottom: 7px;
    margin: 0 auto;
}

img {
    width: 50px;
    height: 50px;
}

.weather {
    display: flex;
    gap: 8px;
    justify-content: center;
}

span {
    font-weight: 700;
    font-size: 26px;
    display: flex;
    align-items: center;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    height: 46px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 9px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding-left: 14px;
    font-size: 20px;
    font-family: 'Roboto';
}